<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/bienvenida.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS-BIENVENIDO</title>
</head>

<body>

    <div class="bienvenida">

        <img src="/images/LOGO 1.png" alt="">
        <p>Tu tiempo, tu mejor decisión</p>

    </div>

    <main class="login">

        <h1>¡Bienvenido!</h1>
        <p>Para comenzar, cuentanos tu nombre</p>

        <form th:action="@{/registro}" method="post">

            <div class="input">
                <div class="imagen">

                    <img src="/images/usuario.png" alt="">

                </div>
                
                <input type="text" name="nombre" placeholder="Escribe tu nombre">

            </div>

            <button type="submit"><span>Entrar</span><img src="/images/flecha.png" alt=""></button>
            

        </form>

        <div class="footer">

            <img src="/images/portada.png" alt="">

        </div>

    </main>





</body>

</html>