<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/cursos-seleccion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - CURSOS</title>
</head>

<body>

    <main>

        <div class="header">
            <div class="logo">

                <img src="/images/logo-head.png" alt="">
                <h1>KAIROS</h1>

            </div>
            <div class="user">

                <p>Hola, Jose</p>
                <img src="/images/usuario.png" alt="">

            </div>


        </div>
        <div class="main-espacio">

            <div class="espacio-titulo">

                <h2>Selecciona los cursos que llevarás este ciclo</h2>
                <p>Elige los cursos que deseas incluir para generar tus horarios</p>

            </div>

            <form action="">
                <div class="cursoLista">

                    <label class="input espacio">

                        <input type="checkbox" name="cursos">
                        <div class="descripcion">

                            <h5>ARQUITECTURA EMPRESARIAL</h5>
                            <p>CODIGO: ASUC01141</p>
                            <p>Creditos : 5</p>

                        </div>

                    </label>

                    <label class="input espacio">

                        <input type="checkbox" name="cursos">
                        <div class="descripcion">

                            <h5>CONSTRUCCIÓN DE SOFTWARE</h5>
                            <p>CODIGO: ASUC00947</p>
                            <p>Creditos : 5</p>

                        </div>

                    </label>

                    <label class="input espacio">

                        <input type="checkbox" name="cursos">
                        <div class="descripcion">

                            <h5>REDES DE COMPUTADORES</h5>
                            <p>CODIGO: ASUC00754</p>
                            <p>Creditos : 4</p>

                        </div>

                    </label>

                    <label class="input espacio">

                        <input type="checkbox" name="cursos">
                        <div class="descripcion">

                            <h5>INGENIERÍA ECONÓMICA</h5>
                            <p>CODIGO: ASUC00466</p>
                            <p>Creditos : 3</p>

                        </div>

                    </label>

                    <label class="input espacio">

                        <input type="checkbox" name="cursos">
                        <div class="descripcion">

                            <h5>INNOVACIÓN SOCIAL</h5>
                            <p>CODIGO: ASUC01365</p>
                            <p>Creditos : 2</p>

                        </div>

                    </label>

                    <label class="input espacio">

                        <input type="checkbox" name="cursos">
                        <div class="descripcion">

                            <h5>GESTIÓN PROFESIONAL</h5>
                            <p>CODIGO: ASUC01341</p>
                            <p>Creditos : 1</p>

                        </div>

                    </label>

                    

                </div>

                <button><img src="/images/calendario.png" alt="">Crear Horarios</button>
            </form>

        </div>

    </main>

</body>

</html>