<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="../usuario/css/lista-horario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - VER HORARIO</title>
</head>

<body>

    <main>

        <div class="header">
            <div class="logo">

                <img src="images/logo-head.png" alt="">
                <h1>KAIROS</h1>

            </div>
            <div class="user">

                <p>Hola, Jose</p>
                <img src="images/usuario.png" alt="">

            </div>


        </div>
        <div class="main-espacio">

            <div class="espacio-titulo">

                <h2>Hemos encontrado los 5 mejores horarios para ti</h2>
                <p>Ordenados por menor tiempo muerto</p>

            </div>

            <div class="horarios-lista">

                <div class="puesto">

                    <div class="numero uno">

                        <p>1</p>

                    </div>

                    <p class="horario-titulo">Horario <span>#1</span></p>

                    <div class="tiempo">

                        <p>Tiempo muerto total</p>
                        <p>15 min</p>

                    </div>

                    <div class="acciones">

                        <a href=""><img src="images/ojo-azul.png" alt="">Ver Horario</a>

                    </div>

                </div>
                <div class="puesto">

                    <div class="numero dos">

                        <p>2</p>

                    </div>

                    <p class="horario-titulo">Horario <span>#2</span></p>

                    <div class="tiempo">

                        <p>Tiempo muerto total</p>
                        <p>28 min</p>

                    </div>

                    <div class="acciones">

                        <a href=""><img src="images/ojo-azul.png" alt="">Ver Horario</a>

                    </div>

                </div>
                <div class="puesto">

                    <div class="numero tres">

                        <p>3</p>

                    </div>

                    <p class="horario-titulo">Horario <span>#3</span></p>

                    <div class="tiempo">

                        <p>Tiempo muerto total</p>
                        <p>35 min</p>

                    </div>

                    <div class="acciones">

                        <a href=""><img src="images/ojo-azul.png" alt="">Ver Horario</a>

                    </div>

                </div>
                <div class="puesto">

                    <div class="numero">

                        <p>4</p>

                    </div>

                    <p class="horario-titulo">Horario <span>#4</span></p>

                    <div class="tiempo">

                        <p>Tiempo muerto total</p>
                        <p>42 min</p>

                    </div>

                    <div class="acciones">

                        <a href=""><img src="images/ojo-azul.png" alt="">Ver Horario</a>

                    </div>

                </div>
                <div class="puesto">

                    <div class="numero">

                        <p>5</p>

                    </div>

                    <p class="horario-titulo">Horario <span>#5</span></p>

                    <div class="tiempo">

                        <p>Tiempo muerto total</p>
                        <p>55 min</p>

                    </div>

                    <div class="acciones">

                        <a href=""><img src="images/ojo-azul.png" alt="">Ver Horario</a>

                    </div>

                </div>

            </div>

            <div class="volver">

                <a href="#">Volver a la seccion de Cursos</a>

            </div>

        </div>

    </main>

</body>

</html>