<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/ver-horario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - VER HORARIO</title>
</head>

<body>

    <main>

        <div class="header">
            <div class="logo">

                <img src="/images/logo-head.png" alt="">
                <h1>KAIROS</h1>

            </div>
            <div class="user">

                <p th:text="|Hola, ${nombre}|"></p>
                <img src="/images/usuario.png" alt="">

            </div>


        </div>
        <div class="main-espacio">

            <div class="espacio-titulo">

                <a th:href="@{/volver}">Volver a horarios</a>
                <h1 th:text="|Horario #${posicion + 1}|">Horario #1</h1>
                <p>Tiempo muerto total: <span th:text="|${horaMuerta} min|"></span></p>

            </div>

            <div class="espacio-tabla">

                <table>

                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miercoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>07:00 - 08:29</td>
                            <td th:text="${horarioMap['LUNES-07:00'] != null ? horarioMap['LUNES-07:00'] : '-' }"
                                th:classappend="${horarioMap['LUNES-07:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-07:00'] != null ? horarioMap['MARTES-07:00'] : '-' }"
                                th:classappend="${horarioMap['MARTES-07:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-07:00'] != null ? horarioMap['MIERCOLES-07:00'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-07:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-07:00'] != null ? horarioMap['JUEVES-07:00'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-07:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-07:00'] != null ? horarioMap['VIERNES-07:00'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-07:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-07:00'] != null ? horarioMap['SABADO-07:00'] : '-' }"
                                th:classappend="${horarioMap['SABADO-07:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-07:00'] != null ? horarioMap['DOMINGO-07:00'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-07:00'] != null ? 'con-curso' : ''}"></td>
                        </tr>
                        <tr>
                            <td>08:40 - 10:09</td>
                            <td th:text="${horarioMap['LUNES-08:40'] != null ? horarioMap['LUNES-08:40'] : '-' }"
                                th:classappend="${horarioMap['LUNES-08:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-08:40'] != null ? horarioMap['MARTES-08:40'] : '-' }"
                                th:classappend="${horarioMap['MARTES-08:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-08:40'] != null ? horarioMap['MIERCOLES-08:40'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-08:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-08:40'] != null ? horarioMap['JUEVES-08:40'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-08:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-08:40'] != null ? horarioMap['VIERNES-08:40'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-08:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-08:40'] != null ? horarioMap['SABADO-08:40'] : '-' }"
                                th:classappend="${horarioMap['SABADO-08:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-08:40'] != null ? horarioMap['DOMINGO-08:40'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-08:40'] != null ? 'con-curso' : ''}"></td>
                        </tr>
                        <tr>
                            <td>10:20 - 11:49</td>
                            <td th:text="${horarioMap['LUNES-10:20'] != null ? horarioMap['LUNES-10:20'] : '-' }"
                                th:classappend="${horarioMap['LUNES-10:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-10:20'] != null ? horarioMap['MARTES-10:20'] : '-' }"
                                th:classappend="${horarioMap['MARTES-10:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-10:20'] != null ? horarioMap['MIERCOLES-10:20'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-10:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-10:20'] != null ? horarioMap['JUEVES-10:20'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-10:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-10:20'] != null ? horarioMap['VIERNES-10:20'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-10:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-10:20'] != null ? horarioMap['SABADO-10:20'] : '-' }"
                                th:classappend="${horarioMap['SABADO-10:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-10:20'] != null ? horarioMap['DOMINGO-10:20'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-10:20'] != null ? 'con-curso' : ''}"></td>
                        </tr>
                        <tr>
                            <td>12:00 - 13:29</td>
                            <td th:text="${horarioMap['LUNES-12:00'] != null ? horarioMap['LUNES-12:00'] : '-' }"
                                th:classappend="${horarioMap['LUNES-12:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-12:00'] != null ? horarioMap['MARTES-12:00'] : '-' }"
                                th:classappend="${horarioMap['MARTES-12:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-12:00'] != null ? horarioMap['MIERCOLES-12:00'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-12:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-12:00'] != null ? horarioMap['JUEVES-12:00'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-12:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-12:00'] != null ? horarioMap['VIERNES-12:00'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-12:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-12:00'] != null ? horarioMap['SABADO-12:00'] : '-' }"
                                th:classappend="${horarioMap['SABADO-12:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-12:00'] != null ? horarioMap['DOMINGO-12:00'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-12:00'] != null ? 'con-curso' : ''}"></td>
                        </tr>
                        <tr>
                            <td>14:00 - 15:29</td>
                            <td th:text="${horarioMap['LUNES-14:00'] != null ? horarioMap['LUNES-14:00'] : '-' }"
                                th:classappend="${horarioMap['LUNES-14:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-14:00'] != null ? horarioMap['MARTES-14:00'] : '-' }"
                                th:classappend="${horarioMap['MARTES-14:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-14:00'] != null ? horarioMap['MIERCOLES-14:00'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-14:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-14:00'] != null ? horarioMap['JUEVES-14:00'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-14:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-14:00'] != null ? horarioMap['VIERNES-14:00'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-14:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-14:00'] != null ? horarioMap['SABADO-14:00'] : '-' }"
                                th:classappend="${horarioMap['SABADO-14:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-14:00'] != null ? horarioMap['DOMINGO-14:00'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-14:00'] != null ? 'con-curso' : ''}"></td>
                        </tr>
                        <tr>
                            <td>15:40 - 17:09</td>
                            <td th:text="${horarioMap['LUNES-15:40'] != null ? horarioMap['LUNES-15:40'] : '-' }"
                                th:classappend="${horarioMap['LUNES-15:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-15:40'] != null ? horarioMap['MARTES-15:40'] : '-' }"
                                th:classappend="${horarioMap['MARTES-15:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-15:40'] != null ? horarioMap['MIERCOLES-15:40'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-15:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-15:40'] != null ? horarioMap['JUEVES-15:40'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-15:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-15:40'] != null ? horarioMap['VIERNES-15:40'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-15:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-15:40'] != null ? horarioMap['SABADO-15:40'] : '-' }"
                                th:classappend="${horarioMap['SABADO-15:40'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-15:40'] != null ? horarioMap['DOMINGO-15:40'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-15:40'] != null ? 'con-curso' : ''}"></td>
                        </tr>
                        <tr>
                            <td>17:20 - 18:49</td>
                            <td th:text="${horarioMap['LUNES-17:20'] != null ? horarioMap['LUNES-17:20'] : '-' }"
                                th:classappend="${horarioMap['LUNES-17:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-17:20'] != null ? horarioMap['MARTES-17:20'] : '-' }"
                                th:classappend="${horarioMap['MARTES-17:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-17:20'] != null ? horarioMap['MIERCOLES-17:20'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-17:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-17:20'] != null ? horarioMap['JUEVES-17:20'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-17:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-17:20'] != null ? horarioMap['VIERNES-17:20'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-17:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-17:20'] != null ? horarioMap['SABADO-17:20'] : '-' }"
                                th:classappend="${horarioMap['SABADO-17:20'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-17:20'] != null ? horarioMap['DOMINGO-17:20'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-17:20'] != null ? 'con-curso' : ''}"></td>
                        </tr>
                        <tr>
                            <td>19:00 - 20:29</td>
                            <td th:text="${horarioMap['LUNES-19:00'] != null ? horarioMap['LUNES-19:00'] : '-' }"
                                th:classappend="${horarioMap['LUNES-19:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MARTES-19:00'] != null ? horarioMap['MARTES-19:00'] : '-' }"
                                th:classappend="${horarioMap['MARTES-19:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['MIERCOLES-19:00'] != null ? horarioMap['MIERCOLES-19:00'] : '-' }"
                                th:classappend="${horarioMap['MIERCOLES-19:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['JUEVES-19:00'] != null ? horarioMap['JUEVES-19:00'] : '-' }"
                                th:classappend="${horarioMap['JUEVES-19:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['VIERNES-19:00'] != null ? horarioMap['VIERNES-19:00'] : '-' }"
                                th:classappend="${horarioMap['VIERNES-19:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['SABADO-19:00'] != null ? horarioMap['SABADO-19:00'] : '-' }"
                                th:classappend="${horarioMap['SABADO-19:00'] != null ? 'con-curso' : ''}"></td>
                            <td th:text="${horarioMap['DOMINGO-19:00'] != null ? horarioMap['DOMINGO-19:00'] : '-' }"
                                th:classappend="${horarioMap['DOMINGO-19:00'] != null ? 'con-curso' : ''}"></td>
                        </tr>

                    </tbody>

                </table>

            </div>




        </div>

    </main>

</body>

</html>