<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/ver-horario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - VER HORARIO</title>
</head>

<body>

    <main>

        <div class="header">
            <div class="logo">

                <img src="/images/logo-head.png" alt="">
                <h1>KAIROS</h1>

            </div>
            <div class="user">

                <p th:text="|Hola, ${nombre}|"></p>
                <img src="/images/usuario.png" alt="">

            </div>


        </div>
        <div class="main-espacio">

            <div class="espacio-titulo">

                <a th:href="@{/volver}">Volver a horarios</a>
                <h1 th:text="|Horario #${posicion + 1}|">Horario #1</h1>
                <p>Tiempo muerto total: <span th:text="|${horaMuerta} min|"></span></p>

            </div>

            <div class="espacio-tabla">

                <table>

                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miercoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>07:00 - 08:29</td>
                            <td th:classappend="${horarioMap['LUNES-07:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-07:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-07:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-07:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-07:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-07:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-07:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-07:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-07:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-07:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-07:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-07:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-07:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-07:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>08:40 - 10:09</td>
                            <td th:classappend="${horarioMap['LUNES-08:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-08:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-08:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-08:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-08:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-08:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-08:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-08:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-08:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-08:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-08:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-08:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-08:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-08:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>10:20 - 11:49</td>
                            <td th:classappend="${horarioMap['LUNES-10:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-10:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-10:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-10:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-10:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-10:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-10:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-10:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-10:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-10:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-10:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-10:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-10:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-10:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>12:00 - 13:29</td>
                            <td th:classappend="${horarioMap['LUNES-12:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-12:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-12:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-12:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-12:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-12:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-12:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-12:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-12:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-12:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-12:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-12:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-12:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-12:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>14:00 - 15:29</td>
                            <td th:classappend="${horarioMap['LUNES-14:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-14:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-14:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-14:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-14:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-14:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-14:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-14:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-14:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-14:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-14:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-14:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-14:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-14:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>15:40 - 17:09</td>
                            <td th:classappend="${horarioMap['LUNES-15:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-15:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-15:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-15:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-15:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-15:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-15:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-15:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-15:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-15:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-15:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-15:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-15:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-15:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>17:20 - 18:49</td>
                            <td th:classappend="${horarioMap['LUNES-17:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-17:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-17:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-17:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-17:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-17:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-17:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-17:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-17:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-17:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-17:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-17:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-17:20'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-17:20']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>19:00 - 20:29</td>
                            <td th:classappend="${horarioMap['LUNES-19:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-19:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-19:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-19:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-19:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-19:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-19:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-19:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-19:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-19:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-19:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-19:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-19:00'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-19:00']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>
                        <tr>
                            <td>20:40 - 21:59</td>
                            <td th:classappend="${horarioMap['LUNES-20:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['LUNES-20:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MARTES-20:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MARTES-20:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['MIERCOLES-20:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['MIERCOLES-20:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['JUEVES-20:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['JUEVES-20:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['VIERNES-20:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['VIERNES-20:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['SABADO-20:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['SABADO-20:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                            <td th:classappend="${horarioMap['DOMINGO-20:40'] != null ? 'con-curso' : ''}"
                                th:with="bloque=${horarioMap['DOMINGO-20:40']}">
                                <div th:if="${bloque!=null}">
                                    <p th:text="${bloque.nrc.curso.nombre}"></p>
                                    <p th:text="'NRC: ' + ${bloque.nrc.codigo}"></p>
                                    <p th:text="${bloque.horaInicio} + '-' + ${bloque.horaFin}"></p>
                                    <p th:text="'Aula: ' + ${bloque.aula}"></p>
                                    <p th:text="${bloque.nrc.docente}"></p>
                                </div>
                                <span th:if="${bloque==null}">-</span>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <div class="espacio-detalles">

                    <h3>Cursos y NRC principales</h3>

                    <table>

                        <thead>

                            <tr>

                                <th>Curso</th>
                                <th>Nrc</th>

                            </tr>

                        </thead>
                        <tbody>

                            <tr th:each="info : ${informacion}">

                                <td th:text="${info.nrc.curso.nombre}"></td>
                                <td th:text="${info.nrc.codigo}"></td>

                            </tr>

                        </tbody>

                    </table>

                </div>



            </div>

            <div class="espacio-encuesta">

                <div class="contenedor-encuesta">

                    <div class="encuesta-imagen">

                        <img src="/images/encuesta.png" alt="">

                    </div>
                    <div class="encuesta-texto">

                        <h2>¡Tu opinión nos ayuda a mejorar Kairos</h2>
                        <p>Cuéntanos tu experiencia generando este horario. Tu feedback es muy importante para seguir
                            mejorando la plataforma para todos los estudiantes.</p>

                    </div>
                    <div class="encuesta-link">

                        <a href="https://forms.gle/MS4SPrtBrHGqMPhP7">Responder encuesta</a>
                        <p>Tarda menos de dos minutos</p>

                    </div>

                </div>

            </div>


        </div>

    </main>

</body>

</html>