.nuevo-nrc form {

    display: flex;
    flex-direction: column;
    

    
    gap: 1em;

}

.fila-form {
    display: flex;
    gap: 1em;
}


.si-principal {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.2em;

    background-color: #e7f5e5;
    color: #849a85;

    font-weight: bold;
    border-radius: 1em;
}

.no-principal {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.2em;

    background-color: #feecde;
    color: #dc8851;

    font-weight: bold;
    border-radius: 1em;

}

.principal {
    padding: 0.6em;

    
}
