<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/generar-horario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - Generar Horario</title>
</head>

<body>

    <div class="banner">

        <div class="logo">

            <img src="../static/images/logo.png" alt="imagen del logo de la marca">
            <p>Kairos</p>
            <p>|</p>
            <p>La forma inteligente de construir tu horario</p>

        </div>

    </div>

    <main>

        <div class="sidebar">

            <ul>
                <li><a class="inicio btn" href="#"><img src="../static/images/casa.png" alt="">Inicio</a></li>
                <li><a class="cursos btn" href="#"><img src="../static/images/libro.png" alt="">Cursos</a></li>
                <li><a class="nrc btn" href="#"><img src="../static/images/etiqueta.png" alt="">NRC</a></li>
                <li><a class="horario btn" href="#"><img src="../static/images/calendario.png" alt="">Bloques
                        Horario</a></li>
                <li><a class="generador btn" href="#"><img src="../static/images/rayo.png" alt="">Generar Horarios</a>
                </li>
            </ul>

        </div>
        <div class="dashboard-main">

            <div class="titulo">

                <h1>Generar Horario</h1>
                <p>Selecciona tus cursos y genera los mejores horarios posibles</p>

            </div>
            <div class="cursos espacio">

                <div class="indicaciones">

                    <h2>1</h2>
                    <h2>Selecciona tus cursos</h2>

                </div>

                <form>
                    <div class="fila-form cursosLista">

                        <div class="input espacio">

                            <input type="checkbox">
                            <label class="descripcion">

                                <h5>ASUC01141</h5>
                                <p>Arquitectura Empresarial</p>

                            </label>

                        </div>
                        <div class="input espacio">

                            <input type="checkbox">
                            <label class="descripcion">

                                <h5>ASUC00947</h5>
                                <p>Construcción del Software</p>

                            </label>

                        </div>
                        <div class="input espacio">

                            <input type="checkbox">
                            <label class="descripcion">

                                <h5>ASUC00754</h5>
                                <p>Redes de Computadores</p>

                            </label>

                        </div>
                        <div class="input espacio">

                            <input type="checkbox">
                            <label class="descripcion">

                                <h5>ASUC00466</h5>
                                <p>Ingeniería Económica</p>

                            </label>

                        </div>
                        <div class="input espacio">

                            <input type="checkbox">
                            <label class="descripcion">

                                <h5>ASUC01365</h5>
                                <p>Innovación Social</p>

                            </label>

                        </div>
                        <div class="input espacio">

                            <input type="checkbox">
                            <label class="descripcion">

                                <h5>ASUC01341</h5>
                                <p>Gestión Profesional</p>

                            </label>

                        </div>

                    </div>
                    <div class="fila-form">


                        <button class="button" type="submit"><img src="../static/images/rayo.png" alt="">Generar
                            Horarios</button>

                    </div>

                </form>

            </div>
            <div class="resultados espacio">

                <div class="indicaciones">

                    <h2>2</h2>
                    <h2>Resultados <span>- Mejores Horarios</span></h2>

                </div>

                <div class="horarios-lista">

                    <div class="ganador espacio horario">

                        <div class="encabezado">

                            <h3>#1</h3>
                            <h3>Mejor Horario</h3>

                        </div>
                        <div class="tiempo">

                            <p>Tiempo Muerto</p>
                            <h3>15 min</h3>

                        </div>
                        <div class="accion">

                            <a href="#">Ver horario</a>

                        </div>

                    </div>
                    <div class="horario espacio">

                        <div class="encabezado">

                            <h3>#2</h3>


                        </div>
                        <div class="tiempo">

                            <p>Tiempo Muerto</p>
                            <h3>18 min</h3>

                        </div>
                        <div class="accion">

                            <a href="#" class="espacio">Ver horario</a>

                        </div>

                    </div>
                    <div class="horario espacio">

                        <div class="encabezado">

                            <h3>#3</h3>


                        </div>
                        <div class="tiempo">

                            <p>Tiempo Muerto</p>
                            <h3>22 min</h3>

                        </div>
                        <div class="accion">

                            <a href="#" class="espacio">Ver horario</a>

                        </div>

                    </div>
                    <div class="horario espacio">

                        <div class="encabezado">

                            <h3>#4</h3>


                        </div>
                        <div class="tiempo">

                            <p>Tiempo Muerto</p>
                            <h3>25 min</h3>

                        </div>
                        <div class="accion">

                            <a href="#" class="espacio">Ver horario</a>

                        </div>

                    </div>
                    <div class="horario espacio">

                        <div class="encabezado">

                            <h3>#5</h3>


                        </div>
                        <div class="tiempo">

                            <p>Tiempo Muerto</p>
                            <h3>27 min</h3>

                        </div>
                        <div class="accion">

                            <a href="#" class="espacio">Ver horario</a>

                        </div>
                    </div>

                </div>



            </div>

            <div class="horario espacio">

                <div class="indicaciones">

                    <h2>3</h2>
                    <h3>Vista del mejor horario (#1)</h3>

                </div>


                <div class="horario espacio">

                    <h2>Vista Semanal del NRC</h2>

                    <table>

                        <thead>
                            <tr>
                                <th>Hora</th>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>07:00 - 08:29</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>08:40 - 10:09</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>10:20 - 11:49</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>12:00 - 13:29</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>14:00 - 15:29</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>15:40 - 17:09</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>17:20 - 18:49</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>19:00 - 20:29</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>



        </div>

    </main>


</body>

</html>