<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/nrc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - NRC</title>
</head>

<body>

    <div class="banner">

        <div class="logo">

            <img src="../static/images/logo.png" alt="imagen del logo de la marca">
            <p>Kairos</p>
            <p>|</p>
            <p>La forma inteligente de construir tu horario</p>

        </div>

    </div>

    <main>

        <div class="sidebar">

            <ul>
                <li><a class="inicio btn" href="#"><img src="../static/images/casa.png" alt="">Inicio</a></li>
                <li><a class="cursos btn" href="#"><img src="../static/images/libro.png" alt="">Cursos</a></li>
                <li><a class="nrc btn" href="#"><img src="../static/images/etiqueta.png" alt="">NRC</a></li>
                <li><a class="horario btn" href="#"><img src="../static/images/calendario.png" alt="">Bloques
                        Horario</a></li>
                <li><a class="generador btn" href="#"><img src="../static/images/rayo.png" alt="">Generar Horarios</a>
                </li>
            </ul>

        </div>
        <div class="dashboard-main">

            <div class="titulo">

                <h1>Gestión de Cursos</h1>
                <p>Administra los NRC y su información general</p>

            </div>
            <div class="nuevo-nrc espacio">

                <h2>Registrar NRC</h2>

                <form>
                    <div class="fila-form">

                        <div class="input">

                            <label for="codigo">Código</label>
                            <input type="text" id="codigo" placeholder="Ej: 28611">

                        </div>
                        <div class="input">

                            <label for="Curso">Curso</label>
                            <select name="" id="Curso">
                                <option value="">Seleccionar Curso</option>
                            </select>

                        </div>
                        <div class="input">

                            <label for="docente">Docente</label>
                            <input type="text" id="docente" placeholder="Ej: Juan Perez">

                        </div>
                        <div class="input">

                            <label for="modealidad">Modalidad</label>
                            <select name="" id="Modalidad">
                                <option value="">Seleccionar</option>
                                <option value="">Presencial</option>
                                <option value="">Virtual</option>
                                <option value="">Hibrida</option>
                            </select>

                        </div>
                        <div class="input">

                            <label for="principal">¿Es Principal?</label>
                            <select name="" id="Modalidad">
                                <option value="">Seleccionar</option>
                                <option value="">Si</option>
                                <option value="">No</option>
                            </select>
                        </div>

                    </div>
                    
                    <div class="fila-form">

                        <div class="input">

                            <label for="Nrc-asociado">NRC asociado (Teoría)</label>
                            <select name="" id="Nrc-asociado">
                                <option value="">Seleccionar NRC</option>
                            </select>

                        </div>

                        <button class="button" type="submit"><img src="../static/images/agregar.png" alt="">Guardar
                        Curso</button>

                    </div>
                    

                </form>

            </div>
            <div class="nrcs espacio">

                <h2>Lista de Cursos</h2>

                <table>

                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Curso</th>
                            <th>Docente</th>
                            <th>Modalidad</th>
                            <th>Principal</th>
                            <th>NRC Asociado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>28611</td>
                            <td>Construcción del Software</td>
                            <td>Carlos Zarate</td>
                            <td>Presencial</td>
                            <td><div class="si-principal">Si</div></td>
                            <td>-</td>
                            <td class="acciones"><a href="#" class="boton editar"><img src="../static/images/editar.png"
                                        alt=""></a> <a href="#" class="boton borrar"><img
                                        src="../static/images/eliminar.png" alt=""></a></td>
                        </tr>
                    </tbody>

                </table>

            </div>


        </div>

    </main>


</body>

</html>