<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - HOME</title>
</head>

<body>

    <div class="banner">

        <div class="logo">

            <img src="/images/logo.png" alt="imagen del logo de la marca">
            <p>Kairos</p>
            <p>|</p>
            <p>La forma inteligente de construir tu horario</p>

        </div>

    </div>

    <main>

        <div th:replace="fragments/menu :: menu"></div>
        <div class="dashboard-main">

            <div class="bienvenida-seccion">

                <div class="saludo">

                    <h1>¡Bienvenido! 👋</h1>
                    <p>Gestiona la oferta academica y genera los mejores horarios para tu matrícula</p>

                </div>
                <div class="img-portada">

                    <img src="/images/imagen-portada.png" alt="imagen de un joven en su laptop feliz">

                </div>

            </div>
            <div class="metricas-seccion">

                <div class="curso metrica">

                    <div class="icono">

                        <img src="/images/libro.png" alt="icono de libro abierto">

                    </div>
                    <div class="texto">

                        <h2 th:text="${nCursos}"></h2>
                        <p>Cursos Registrados</p>

                    </div>

                </div>
                <div class="nrc metrica">

                    <div class="icono">

                        <img src="/images/etiqueta.png" alt="icono de una etiqueta">

                    </div>
                    <div class="texto">

                        <h2 th:text="${nNrc}"></h2>
                        <p>NRC Registrados</p>

                    </div>

                </div>
                <div class="bloque metrica">

                    <div class="icono">

                        <img src="/images/calendario.png" alt="icono de un calendario">

                    </div>
                    <div class="texto">

                        <h2 th:text="${nBloques}"></h2>
                        <p>Bloques de horario</p>

                    </div>

                </div>

            </div>
            <div class="acceso-rapido-seccion">

                <h3>Acceso rápido</h3>

                <div class="accesos">

                    <div class="cursos acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="/images/libro.png" alt="icono de un libro">

                            </div>
                            <div class="info">

                                <h4>Gestionar Cursos</h4>
                                <p>Crea, edita y administra los cursos disponibles</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a th:href="@{/curso/gestion}">Ir a Cursos <img src="/images/flecha.png" alt="icono de flecha"></a>

                        </div>

                    </div>
                    <div class="nrc acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="/images/etiqueta.png" alt="icono de una etiqueta">

                            </div>
                            <div class="info">

                                <h4>Gestionar NRC</h4>
                                <p>Administra los NRC y su información general</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a th:href="@{/nrc/gestion}">Ir a NRC <img src="/images/flecha.png" alt="icono de flecha"></a>

                        </div>

                    </div>
                    <div class="bloques acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="/images/calendario.png" alt="icono de un calendario">

                            </div>
                            <div class="info">

                                <h4>Gestionar Bloques</h4>
                                <p>Administra los bloques de horario por NRC</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a th:href="@{/bloqueHorario/gestion}">Ir a Bloques <img src="/images/flecha.png" alt="icono de flecha"></a>

                        </div>

                    </div>
                    <div class="horario acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="/images/rayo.png" alt="icono de un rayo">

                            </div>
                            <div class="info">

                                <h4>Generar horarios</h4>
                                <p>Selecciona tus cursos y genera los mejores horarios</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a th:href="@{/horario/inicio}">Ir al Generador <img src="/images/flecha.png"
                                    alt="icono de flecha"></a>

                        </div>

                    </div>
                </div>

            </div>


        </div>

    </main>


</body>

</html>