<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>KAIROS - HOME</title>
</head>

<body>

    <div class="banner">

        <div class="logo">

            <img src="../static/images/logo.png" alt="imagen del logo de la marca">
            <p>Kairos</p>
            <p>|</p>
            <p>La forma inteligente de construir tu horario</p>

        </div>

    </div>

    <main>

        <div class="sidebar">

            <ul>
                <li><a class="inicio btn" href="#"><img src="../static/images/casa.png" alt="">Inicio</a></li>
                <li><a class="cursos btn" href="#"><img src="../static/images/libro.png" alt="">Cursos</a></li>
                <li><a class="nrc btn" href="#"><img src="../static/images/etiqueta.png" alt="">NRC</a></li>
                <li><a class="horario btn" href="#"><img src="../static/images/calendario.png" alt="">Bloques
                        Horario</a></li>
                <li><a class="generador btn" href="#"><img src="../static/images/rayo.png" alt="">Generar Horarios</a>
                </li>
            </ul>

        </div>
        <div class="dashboard-main">

            <div class="bienvenida-seccion">

                <div class="saludo">

                    <h1>¡Bienvenido! 👋</h1>
                    <p>Gestiona la oferta academica y genera los mejores horarios para tu matrícula</p>

                </div>
                <div class="img-portada">

                    <img src="../static/images/imagen-portada.png" alt="imagen de un joven en su laptop feliz">

                </div>

            </div>
            <div class="metricas-seccion">

                <div class="curso metrica">

                    <div class="icono">

                        <img src="../static/images/libro.png" alt="icono de libro abierto">

                    </div>
                    <div class="texto">

                        <h2>24</h2>
                        <p>Cursos Registrados</p>

                    </div>

                </div>
                <div class="nrc metrica">

                    <div class="icono">

                        <img src="../static/images/etiqueta.png" alt="icono de una etiqueta">

                    </div>
                    <div class="texto">

                        <h2>86</h2>
                        <p>NRC Registrados</p>

                    </div>

                </div>
                <div class="bloque metrica">

                    <div class="icono">

                        <img src="../static/images/calendario.png" alt="icono de un calendario">

                    </div>
                    <div class="texto">

                        <h2>312</h2>
                        <p>Bloques de horario</p>

                    </div>

                </div>
                <div class="horario metrica">

                    <div class="icono">

                        <img src="../static/images/rayo.png" alt="icono de un rayo">

                    </div>
                    <div class="texto">

                        <h2>1 248</h2>
                        <p>Horarios Generados</p>

                    </div>

                </div>

            </div>
            <div class="acceso-rapido-seccion">

                <h3>Acceso rápido</h3>

                <div class="accesos">

                    <div class="cursos acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="../static/images/libro.png" alt="icono de un libro">

                            </div>
                            <div class="info">

                                <h4>Gestionar Cursos</h4>
                                <p>Crea, edita y administra los cursos disponibles</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a href="#">Ir a Cursos <img src="../static/images/flecha.png" alt="icono de flecha"></a>

                        </div>

                    </div>
                    <div class="nrc acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="../static/images/etiqueta.png" alt="icono de una etiqueta">

                            </div>
                            <div class="info">

                                <h4>Gestionar NRC</h4>
                                <p>Administra los NRC y su información general</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a href="#">Ir a NRC <img src="../static/images/flecha.png" alt="icono de flecha"></a>

                        </div>

                    </div>
                    <div class="bloques acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="../static/images/calendario.png" alt="icono de un calendario">

                            </div>
                            <div class="info">

                                <h4>Gestionar Bloques</h4>
                                <p>Administra los bloques de horario por NRC</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a href="#">Ir a Bloques <img src="../static/images/flecha.png" alt="icono de flecha"></a>

                        </div>

                    </div>
                    <div class="horario acceso">

                        <div class="informacion">

                            <div class="imagen">

                                <img src="../static/images/rayo.png" alt="icono de un rayo">

                            </div>
                            <div class="info">

                                <h4>Generar horarios</h4>
                                <p>Selecciona tus cursos y genera los mejores horarios</p>

                            </div>

                        </div>
                        <div class="btn">

                            <a href="#">Ir al Generador <img src="../static/images/flecha.png"
                                    alt="icono de flecha"></a>

                        </div>

                    </div>
                </div>

            </div>


        </div>

    </main>


</body>

</html>